
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/CSS/perfil.css">
@if (ViewBag.User.Wallpaper != null)
{
    <div class="fundo" style="background:url('@ViewBag.User.Wallpaper');"></div>
}
else
{
    <div class="fundo"></div>
}

<script>
    function mudarImg() {
        $("form").removeClass("visivel");
    }

    function mudarImgS() {
        $("form").addClass("visivel");
    }


    function chatGo() {
        $(".chatgo").submit();
    }


</script>
<div class="data">


    @if (ViewBag.Usuario.Nome == ViewBag.User.Nome)
    {

        <div class="nameImg" onclick="mudarImg()">
            <img class="imagemPerf" src="@ViewBag.User.ImgPerfil" />
        </div>

        <form class="visivel" action="/mimg">
            <input class="editImg" placeholder="Alterar Imagem De Perfil" name="imagPerf" type="text" />
            <input type="submit" class="btns" value="Mudar Imagem">
        </form>
        <form class="visivel" action="/mwalp">
            <input class="editImg" placeholder="Alterar Wallpaper" name="imagWalp" type="text" />
            <input type="submit" class="btns" value="Mudar Imagem">
        </form>
        <div class="name"><h1>@ViewBag.User.Nome</h1></div>
    }
    else
    {
        <form action="/tochat" class="chatgo">
            <div class="nameImg" onclick="chatGo()">
                <img class="imagemPerf" src="@ViewBag.User.ImgPerfil" />
            </div>
            <div class="name"><h1 name="user">@ViewBag.User.Nome</h1></div>
        </form>
    }



            @if (ViewBag.Usuario.Nome == ViewBag.User.Nome)
            {
                <a href="/login" class="btns">Sair</a>
            }

            <div class="information">
                <span>E-mail:  @ViewBag.User.Email</span><br>
                <span>Amigos: @ViewBag.User.NDeAmigos</span><br>
                <span>Partidas: @ViewBag.User.Partidas</span><br>
                <span>Vitórias: @ViewBag.User.Vitorias</span>
            </div>
            <br><br>


            @if (ViewBag.Usuario.Nome != ViewBag.User.Nome)
            {

                if (ViewBag.Amizade != null)
                {
                    <a class="friends ef" id="friends"><i class="fas fa-user-friends"></i></a> <br><br>

                }
                else
                {
                    <a class="friends" id="friends"><i class="fas fa-user-friends"></i> <br>Enviar Pedido de Amizade</a> <br><br>
                }

            }

    </div>

<div class="topo" onclick="topo()"><i class="fas fa-arrow-circle-up"></i></div>


<script>
    function amigos() {
        if (document.getElementById('friends').innerHTML == `<i class="fas fa-user-friends"></i>`) {
            $(".friends").toggleClass("ef");
            document.getElementById('friends').innerHTML = `<i class="fas fa-user-friends"></i> <br>Enviar Pedido de Amizade`;
        }
        else {
            $(".friends").toggleClass("ef");
            document.getElementById('friends').innerHTML = `<i class="fas fa-user-friends"></i>`;
        }




    }
</script>



